<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>IRL uses Face ID to securely sign you in.</string>
	<key>NSCameraUsageDescription</key>
	<string>IRL needs camera access so you can share moments with friends.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>IRL needs photo library access to save and share your photos.</string>
</dict>
</plist>
